html, body {
  min-height: 100%;
  min-width:1000px;
}

.section1, .section2, .section3{
  display:flex;
  flex-direction:column;
  font-family:Helvetica, sans-serif;
  height:100%;
}
.section1{
  float:left;
  position1:fixed;  color:rgb(15,20,25);
  margin-left:20px;
  
}
.section2{
  float:left;
  padding-left:30px;
  border-left:ridge;
  border-color:#E1E8ED;
  border-width:0.01em;
  margin-left:40px;
}
.section3{
  float:right;
  min-width:100px;
  border-left:0.01em ridge;
  border-color:#E1E8ED;
  padding-left:35px;
  margin-right:90px;
  
}


.section1__button{
  border-radius:30px;
  width:45px;
  height:45px;
  margin-left:50px;
  background-color:white;
  border-style:none;
}

.logo__button{
  margin-left:90px !important ; 
  
}
.logo__button:hover{
  background:rgba(29,161,242,0.18);
}

.icon:hover{
  background:rgba(29,161,242,0.18);
  color:rgb(29,161,242);
}


#logo{
  width:28.38px;
  height:23.07px;
}

#section1__items{
  align-items:left;
  display:flex;
  flex-direction:column;
  flex-basis:auto;
  text-size-adjust:100%;
}

.icon{
  margin-left:20px;
  min-width:120px;
  margin-top:10px;
  border-radius:20px;
  background-color:#FFFFFF;
  align-items:left;
  padding-top:10px;
  padding-bottom:10px;
  border:none;
}

.iconify1{
  padding-left:-15px;
  padding-right:10px;
  
  width:30px;
  height:30px;
  
}


.icon__text{
  font-size:20px;
  font-color:#272b30;
  font-weight:540;
  margin-top:30px !important;
}


.fa-home{
  color:#1da1f2;
}
 .home{
  padding-left:16px;
}
.explore{
  padding-right:16px; padding-left:10px;
}
.notification{
  padding-right:16px; padding-left:53px;
}
.messages{
  padding-right:16px; padding-left:26px;
}
.bookmarks{
  padding-right:16px; padding-left:44px;
}
.lists{
  padding-right:16px; padding-left:0px;
}
.profile{
  padding-right:16px; padding-left:0px;
}
.more{
  padding-right:15px;
  padding-bottom:10px;
  
}

.btn_tweet{
  border-radius:22.5px;
  font-size:15px;
  margin:10px 0px 0px 45px;
  padding:5px 50px 5px 45px;
  color:white;
  width:199.69px;
  height:45.76px;
  background-color:#1da1f2;
   border:none;
  
}

.btn_profile{
  width:230px; color:black; background-color:white;display:flex;
  flex-direction:row;
}

.section1__profile__name{
  display:flex; flex-direction:column; padding-left:8px;
}

.section1__profile__handle{
  font-weight:300; color:grey;
}

.section1__img__profile{
  width:35px !important;
  max-height:35px;
  border-radius:18px;
}

.dropbtn{
  display:flex;
  flex-direction:column;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 260px;
  box-shadow: 2px 2px 2px 2px rgba(210,210,210,0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {display: block;}

.dropdown_image{
  padding-right:5px;
  padding-left:5px;
}


#menu2{
  float:left;
  margin-bottom:5px;
}

#menu3{
  float:left;
  margin-bottom:10px;
}



#section1btn_profile{
  display:flex;
  flex-direction:row;
}

.elipsisbutton{
  padding:10px 0px 0px 40px; color:grey;
}

.section1__profile{
  margin-left:-10px;
}

.profile__shortcut{
  display:flex;
  flex-direction:column;
  padding-left:5px;
}

.section2__hometitle{
  font-weight:bold;
  font-size:20px;
  margin-top:15px;
}

.post__image{
  display:flex; flex-direction:row;
  margin-top:20px;
}

.post{
  display:flex; flex-direction:column;
  margin-bottom:20px;
}
#post__input{
  padding:10px;
  margin-left:15px;
  margin-bottom:10px;
  border:none;
  font-size:20px;
  font-weight:290;
}
.post__section{
  display:flex; flex-direction:row;
  padding-left:15px;
  color:rgba(29, 161, 242,0.8);
  
}

#post__icon1{
  padding:8px 8px 8px 0px;
  color:rgba(29,161,242,1.00);
  
}

#post__icon2{
  padding:8px;
  color:rgba(29,161,242,1.00);
  
}

#post__icon3{
  padding:8px;
  color:rgba(29,161,242,1.00);
  
}

#post__icon4{
  padding:8px;
  color:rgba(29,161,242,1.00);
  
}

#post__tweet{
  margin-left:290px;
  border-radius:15px;
  color:white;
  background-color:#8ed0f8;
  border:none;
  width:70px;
  padding:5px 0px 5px 0px;
  
}

.tweet{
  display:flex;
  flex-direction:column;
  margin-bottom:20px;
}
.tweet:hover{
  background-color:rgba(150,150,150,0.1)
}

.tweet__child1{
  display:flex;
  flex-direction:row;
  ;
}

.tweet__child2{
  display:flex;
  flex-direction:row;
  margin-left:45px;
  margin-top:-9px;
  width:440px;
}
.tweet__child2.icons{
  color:rgba(120,120,120,0.2);
}

.tweet__text{
  display:flex;
  flex-direction:row;
  padding-top:4px;
  padding-left:4px;
}

.img__profile{
  width:40px;
  max-height:40px;
  border-radius:20px;
}

.tweet__text_icon{
  margin-left:500px;
  position:absolute;
  
}

.tweet__icon{
  padding-left:50px;
  padding-top:15px;
  color:rgba(120,120,120,0.9);
}
.section3__searchbutton{
  position:absolute;
}

.section3__search{
  display;flex;
  flex-direction:row;
  min-width:280px;
}
.navicon{
  position:absolute;
  padding-top:12px;
  padding-left:20px;
  color:#909da5;
}

.section3__searchbar{
  border-radius:20px;
  width:100%;
  padding-left:50px;
  padding-top:13px;
  padding-bottom:13px;
  margin-bottom:15px;
  background-color:#eff3f4;
  border:none;
}


.section3__trending{
  background-color: #f7f9f9;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:5px;
  border-radius:15px;
}

.sidebox{
  font-size:12px;
}
.trendingtag{
   font-weight:bold; font-size:17px;
  
}

.tweetnumber{
  font-size:12px;
}

.section3__showmore{
   font-color:#1DA1F2;
}



